@using Microsoft.AspNetCore.Identity;
@using System.Web;
@model IEnumerable<IdentityUser>

<h2> Список пользователей </h2>

<table class="table">
     <tr>
            <th>
                Пользователь (Email)
            </th>
            <th>
                Email подтвержден
            </th>
            <th>
                Роли
            </th>
            <th>
                Удаление
            </th>
       </tr>
    @foreach(var user in Model)
    {
        <tr>
            <td> @user.Email</td>
            <td> @user.EmailConfirmed </td>
            <td>
                <a asp-action="EditUserRole" asp-route-id="@user.Id" class="btn btn-outline-primary">
                    @HttpUtility.HtmlDecode("&#10000;")
                </a>
            </td>
            <td>
                <a asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-outline-primary">
                    @HttpUtility.HtmlDecode("&#10060;")
                </a>
            </td>

        </tr>
    }
</table>