@using System.Web;
@model IEnumerable<BookShop24.Models.CartItem>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Msg</h1>

@{
    string msg = ViewBag.Msg;
    if(msg.Contains("Книги"))
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SelectBook.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SelectBook.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SelectBook.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SelectBook.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SelectBook.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SelectBook.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">@HttpUtility.HtmlDecode("&#10060;")</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        
    }
}


